<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>メモ（カウント）</title>
  </head>
  <body>
    <div id="app">
      <div>
        <input type="text" v-model="inputValue" />
        <button v-on:click="saveMemo">保存</button>
      </div>
      <ul>
        <li v-for="(memo, index) in memos">
          {{ memo }}
          <button v-on:click="deleteMemo(index)">削除</button>
        </li>
      </ul>
      <div>全 {{ memoCount }} 件のメモ</div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="memo_count.js"></script>
  </body>
</html>
